*.lo
.dirstamp
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/autoscan.log
/build-aux/
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/gtk-doc.make
/libtool
/libuhttpmock/Uhm-0.0.gir
/libuhttpmock/Uhm-0.0.typelib
/libuhttpmock/docs/Makefile.in
/libuhttpmock/libuhttpmock-0.0.deps
/libuhttpmock/libuhttpmock-0.0.la
/libuhttpmock/libuhttpmock-0.0.pc
/libuhttpmock/libuhttpmock-0.0.vapi
/libuhttpmock/tests/Makefile.in
/libuhttpmock/uhm-version.h
/m4/gtk-doc.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/omf.make
/so_locations
/stamp-h1
/tags
/uhttpmock-0.2.0-coverage
/uhttpmock-0.2.0-coverage.info
_libs
