/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/html
/html-build.stamp
/html.stamp
/libuhttpmock-decl-list.txt
/libuhttpmock-decl.txt
/libuhttpmock-undeclared.txt
/libuhttpmock-undocumented.txt
/libuhttpmock-unused.txt
/libuhttpmock.args
/libuhttpmock.hierarchy
/libuhttpmock.interfaces
/libuhttpmock.prerequisites
/libuhttpmock.signals
/libuhttpmock.types
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/libuhttpmock-unused.sgml
/version.xml
/xml
